$active-color: white;

ion-split-pane {
  --side-max-width: 240px;
  transition: all 0.3s ease;
  @media (max-width: 1199px) {
    .dcf-default-icon {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    &.dcf-collapsed {
      .dcf-logo-container {
        transition: all 0.3s ease;
        padding-left: unset !important;
      }
      ion-list {
        transition: padding-top 0.2s ease;
        padding-top: 1rem !important;
        padding-left: 0.24rem !important;
        width: max-content;
      }
      --side-min-width: 75px;
      --side-max-width: 75px !important;
      transition: all 0.3s ease;
      ion-label {
        display: none !important;
      }

      .dcf-separator {
        display: none;
      }

      .dcf-menu-expand-button {
        justify-content: center;
        padding: 0.5rem !important;
        padding-bottom: 1.5rem !important;
        transform: scale(0.675);

        span {
          display: none !important;
        }
        ngx-decaf-icon {
          transition: all 0.3s ease;
          transform: rotate(180deg) !important;
        }
      }
      ion-item {
        max-width: 65px;
        // --background: transparent !important;
        // --background-activated: transparent !important;
        // --background-hover: transparent !important;
        // --background-focused: transparent !important;
        // --ripple-color: transparent !important;
        --inner-padding-end: 0.5rem !important;
        --padding-end: 0rem !important;
        --inner-padding-start: 0.85rem !important;
        --padding-start: 0rem !important;
        margin-left: 0.5rem;

        &:hover {
          ::ng-deep {
            .ti,
            ngx-decaf-icon,
            ion-icon,
            ion-image {
              color: var(--dcf-color-primary) !important;
              stroke: var(--dcf-color-primary) !important;

              * {
                color: var(--ion-color-primary) !important;
                stroke: var(--dcf-color-primary) !important;
              }
            }
          }
        }
      }
    }
  }
}

.dcf-menu-expand-button {
  margin: 0px !important;
  display: flex;
  padding: 1.5rem 1.75rem !important;
  cursor: pointer;
  color: var(--dcf-color-text);
  ngx-decaf-icon {
    transition: all 0.3s ease;
    transform: translateY(-3px);
    margin-right: var(--dcf-margin-xsmall);
  }

  @media (max-width: 1199px) {
    display: none !important;
  }
}
ion-menu {
  border-right: 1px solid var(--dcf-color-gray-2);
  ion-item {
    ngx-decaf-icon {
      transform: translateY(0px) !important;
    }
  }
  &.dcf-palette-dark {
    // border-right: 1px solid var(--dcf-card-background);
    & {
      border-right: 1px solid var(--dcf-card-background);
    }
    @media (min-width: 1200px) {
      &.dcf-collapsable {
        ion-content {
          border-top: 1px solid var(--dcf-background-color) !important;
        }
      }
    }
    ::ng-deep {
      .ti,
      ion-icon,
      aeon-icon {
        color: var(--ion-color-gray-4) !important;
      }
    }

    > *,
    ion-content {
      background: var(--dcf-item-background, var(--dcf-background-color, #fff)) !important;
    }
  }
  &.dcf-collapsable {
    @media (min-width: 1200px) {
      ion-content {
        border-top: 1px solid var(--dcf-color-gray-2);
      }
    }

    ion-item {
      &:first-of-type:not(.dcf-separator:not(:first-of-type)) {
        margin-top: 0.5rem;
      }
    }
  }

  ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff)) !important;
  }
}

.dcf-logo-container {
  transition: all 0.3s ease;
  padding-top: 1.2rem;
  padding-left: 1.5rem;
  height: 64px !important;

  .dcf-logo-full {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .dcf-logo {
      background: linear-gradient(
        180deg,
        var(--dcf-color-primary) 0%,
        var(--dcf-color-primary-tint) 100%
      );
      padding: var(--dcf-padding-xsmall);
      box-sizing: border-box;
      border-radius: var(--dcf-border-radius-large);
      box-shadow: var(--dcf-box-shadow);
    }

    .dcf-logo-title {
      margin: 0;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.2;
    }

    .dcf-logo-subtitle {
      margin: 0;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.2;
      color: var(--dcf-color-gray-5);
    }
  }
}
